.postTitle {
  font-size: 48px;
  font-weight: bold;
  color: var(--heading);
}

.banner {
  max-height: 400px;
  width: 100%;

  margin-bottom: 2rem;
}

.postInfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.postContentTitle {
  font-size: 36px;
  font-weight: bold;
  margin: 1.2rem 0;
  color: var(--heading);
}

.postContentText {
  font-size: 18px;
  line-height: 140%;
  text-align: justify;
  margin: 1.2rem 0;
  color: var(--body);
}
