.container {
  background-color: var(--background);
  height: 105px;
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding: 0 20px;

  img {
    cursor: pointer;
  }
}
